In [1]:
import pandas as pd

gbrca = pd.read_csv('genes-in-brca.csv')
ghuman = pd.read_csv('mart_export.tsv', sep='\t')
useduprots = pd.read_csv('node_id_name.tsv', sep='\t')

brcaens = pd.DataFrame(gbrca.iloc[:,1])
humanens = ghuman.iloc[:,0:4]
brcaens.columns = [humanens.columns[0]]

network = pd.read_csv('FIs_043009.txt', header=None, sep = ' ').rename(columns = {0: 'from', 1: 'to'})

In [2]:
network

          from      to
0       Q494X3  Q86V71
1       P26006  P49747
2       O43296  Q86UQ0
3       P83876  Q07955
4       O95622  Q02156
...        ...     ...
209983  P11274  Q13191
209984  Q9UN73  Q9Y5G7
209985  Q86V71  Q9UK10
209986  P51512  P63267
209987  B3KS54  P27987

[209988 rows x 2 columns]

In [4]:
newhumanens = humanens.drop_duplicates(subset = 'Gene stable ID', keep = 'first', ignore_index = True).sort_values(by = 'Gene stable ID', ignore_index = True).dropna(subset = ['UniProtKB Gene Name ID', 'UniProtKB/Swiss-Prot ID', 'UniProtKB/TrEMBL ID'], how = 'all')
newhumanens

        Gene stable ID  ... UniProtKB/TrEMBL ID
0      ENSG00000000003  ...                 NaN
1      ENSG00000000005  ...                 NaN
2      ENSG00000000419  ...          A0A0S2Z4Y5
3      ENSG00000000457  ...                 NaN
4      ENSG00000000460  ...          A0A1B0GUP7
...                ...  ...                 ...
22788  ENSG00000288513  ...                 NaN
22789  ENSG00000288516  ...          A0A024R7J0
22791  ENSG00000288520  ...                 NaN
22793  ENSG00000288534  ...              H3BSU7
22794  ENSG00000288547  ...                 NaN

[22548 rows x 4 columns]

In [5]:
final = pd.merge(newhumanens, brcaens, how = 'inner', on = ['Gene stable ID']).fillna(axis = 1, method = 'bfill')
final

        Gene stable ID  ... UniProtKB/TrEMBL ID
0      ENSG00000000003  ...                 NaN
1      ENSG00000000005  ...                 NaN
2      ENSG00000000419  ...          A0A0S2Z4Y5
3      ENSG00000000457  ...                 NaN
4      ENSG00000000460  ...          A0A1B0GUP7
...                ...  ...                 ...
19550  ENSG00000281406  ...          A0A494BZU2
19551  ENSG00000281593  ...              H3BRR5
19552  ENSG00000281613  ...          A0A0D9SFW1
19553  ENSG00000281883  ...          A0A0D9SEW6
19554  ENSG00000281887  ...          A0A087WTJ2

[19555 rows x 4 columns]

In [6]:
deffinal = final.iloc[:,[0,1]]
deffinal

        Gene stable ID UniProtKB Gene Name ID
0      ENSG00000000003                 O43657
1      ENSG00000000005                 Q9H2S6
2      ENSG00000000419                 O60762
3      ENSG00000000457                 Q8IZE3
4      ENSG00000000460                 Q9NSG2
...                ...                    ...
19550  ENSG00000281406             A0A494BZU2
19551  ENSG00000281593                 H3BRR5
19552  ENSG00000281613             A0A0D9SFW1
19553  ENSG00000281883             A0A0D9SEW6
19554  ENSG00000281887             A0A087WTJ2

[19555 rows x 2 columns]

In [7]:
useduprots.columns = ['UniProtKB Gene Name ID', 'node_id']

In [8]:
useduprots

      UniProtKB Gene Name ID  node_id
0                     Q494X3        1
1                     P26006        2
2                     O43296        3
3                     P83876        4
4                     O95622        5
...                      ...      ...
10951                 Q8WU10    10952
10952                 P12277    10953
10953                 Q96T51    10954
10954                 Q8ND90    10955
10955                 Q7Z465    10956

[10956 rows x 2 columns]

In [12]:
newmerge = pd.merge(useduprots, deffinal, how = 'inner', on = ['UniProtKB Gene Name ID']).sort_values(by = 'Gene stable ID', ignore_index = True)
newmerge

     UniProtKB Gene Name ID  node_id   Gene stable ID
0                    O60762     6479  ENSG00000000419
1                    P09769     2261  ENSG00000000938
2                    P48506     5576  ENSG00000001084
3                    P23511     5652  ENSG00000001167
4                    Q13275     5484  ENSG00000001617
...                     ...      ...              ...
8915                 A6NGY5     2486  ENSG00000280021
8916                 Q96RC9     9303  ENSG00000280090
8917                 Q8NGR6     8431  ENSG00000280094
8918                 Q8NH92     8979  ENSG00000280204
8919                 Q8NH51     9544  ENSG00000280314

[8920 rows x 3 columns]

In [10]:
newmerge.to_csv('annot.csv', index = False)