In [22]:
import pandas as pd

gbrca = pd.read_csv('genes-in-brca.csv')
ghuman = pd.read_csv('mart_export.tsv', sep='\t')
useduprots = pd.read_csv('node_id_name.tsv', sep='\t')

brcaens = pd.DataFrame(gbrca.iloc[:,1])
humanens = ghuman.iloc[:,0:4]
brcaens.columns = [humanens.columns[0]]

network = pd.read_csv('FIs_043009.txt', header=None, sep = ' ')

In [2]:
brcaens

        Gene stable ID
0      ENSG00000000003
1      ENSG00000000005
2      ENSG00000000419
3      ENSG00000000457
4      ENSG00000000460
...                ...
60478  ENSGR0000275287
60479  ENSGR0000276543
60480  ENSGR0000277120
60481  ENSGR0000280767
60482  ENSGR0000281849

[60483 rows x 1 columns]

In [3]:
newhumanens = humanens.drop_duplicates(subset = 'Gene stable ID', keep = 'first', ignore_index = True).sort_values(by = 'Gene stable ID', ignore_index = True).dropna(subset = ['UniProtKB Gene Name ID', 'UniProtKB/Swiss-Prot ID', 'UniProtKB/TrEMBL ID'], how = 'all')
newhumanens

,Gene stable ID,UniProtKB Gene Name ID,UniProtKB/Swiss-Prot ID,UniProtKB/TrEMBL ID
0,ENSG00000000003,O43657,O43657,NaN
1,ENSG00000000005,Q9H2S6,Q9H2S6,NaN
2,ENSG00000000419,O60762,O60762,A0A0S2Z4Y5
3,ENSG00000000457,Q8IZE3,Q8IZE3,NaN
4,ENSG00000000460,Q9NSG2,NaN,A0A1B0GUP7
...,...,...,...,...
22788,ENSG00000288513,Q96R69,NaN,NaN
22789,ENSG00000288516,P17612,NaN,A0A024R7J0
22791,ENSG00000288520,G9CGD6,G9CGD6,NaN
22793,ENSG00000288534,H3BSU7,NaN,H3BSU7
22794,ENSG00000288547,Q3SXR2,Q3SXR2,NaN

In [18]:
final = pd.merge(newhumanens, brcaens, how = 'inner', on = ['Gene stable ID']).fillna(axis = 1, method = 'bfill')
final

,Gene stable ID,UniProtKB Gene Name ID,UniProtKB/Swiss-Prot ID,UniProtKB/TrEMBL ID
0,ENSG00000000003,O43657,O43657,NaN
1,ENSG00000000005,Q9H2S6,Q9H2S6,NaN
2,ENSG00000000419,O60762,O60762,A0A0S2Z4Y5
3,ENSG00000000457,Q8IZE3,Q8IZE3,NaN
4,ENSG00000000460,Q9NSG2,A0A1B0GUP7,A0A1B0GUP7
...,...,...,...,...
19550,ENSG00000281406,A0A494BZU2,A0A494BZU2,A0A494BZU2
19551,ENSG00000281593,H3BRR5,H3BRR5,H3BRR5
19552,ENSG00000281613,A0A0D9SFW1,A0A0D9SFW1,A0A0D9SFW1
19553,ENSG00000281883,A0A0D9SEW6,A0A0D9SEW6,A0A0D9SEW6
19554,ENSG00000281887,A0A087WTJ2,A0A087WTJ2,A0A087WTJ2

In [20]:
deffinal = final.iloc[:,[0,1]]
deffinal

        Gene stable ID UniProtKB Gene Name ID
0      ENSG00000000003                 O43657
1      ENSG00000000005                 Q9H2S6
2      ENSG00000000419                 O60762
3      ENSG00000000457                 Q8IZE3
4      ENSG00000000460                 Q9NSG2
...                ...                    ...
19550  ENSG00000281406             A0A494BZU2
19551  ENSG00000281593                 H3BRR5
19552  ENSG00000281613             A0A0D9SFW1
19553  ENSG00000281883             A0A0D9SEW6
19554  ENSG00000281887             A0A087WTJ2

[19555 rows x 2 columns]

In [25]:
useduprots.columns = ['UniProtKB Gene Name ID', 'node_id']

In [26]:
useduprots

      UniProtKB Gene Name ID  node_id
0                     Q494X3        1
1                     P26006        2
2                     O43296        3
3                     P83876        4
4                     O95622        5
...                      ...      ...
10951                 Q8WU10    10952
10952                 P12277    10953
10953                 Q96T51    10954
10954                 Q8ND90    10955
10955                 Q7Z465    10956

[10956 rows x 2 columns]

In [28]:
newmerge = pd.merge(useduprots, deffinal, how = 'inner', on = ['UniProtKB Gene Name ID'])
newmerge

     UniProtKB Gene Name ID  node_id   Gene stable ID
0                    Q494X3        1  ENSG00000176222
1                    P26006        2  ENSG00000005884
2                    O43296        3  ENSG00000083844
3                    P83876        4  ENSG00000141759
4                    O95622        5  ENSG00000173175
...                     ...      ...              ...
8915                 Q8WU10    10952  ENSG00000121350
8916                 P12277    10953  ENSG00000166165
8917                 Q96T51    10954  ENSG00000176783
8918                 Q8ND90    10955  ENSG00000176903
8919                 Q7Z465    10956  ENSG00000163141

[8920 rows x 3 columns]